# API de Google (Calendar + Auth)
google-api-python-client #permite hablar con Calendar, Drive, Gmail, etc.
google-auth-oauthlib #abrir la ventanita del navegador para login
google-auth-httplib2 #usa ese login para enviar las peticiones
sqlalchemy #ORM (Object Relational Mapper). Traduce código Python a SQL

# Gemini
google-generativeai

# LangChain y LangGraph
langchain
langgraph
langgraph-checkpoint-sqlite  

# Utilidades
python-dotenv
tinydb  # Para logs y trazabilidad
tzlocal  # Para gestionar automáticamente la zona horaria local
pandas

# Backend
fastapi
uvicorn[standard]
pydantic