# API de Google (Calendar + Auth)
google-api-python-client
google-auth-oauthlib

# Gemini
google-generativeai

# LangChain y LangGraph
langchain
langgraph
langgraph-checkpoint-sqlite  

# Utilidades
python-dotenv
tinydb  # Para logs y trazabilidad
tzlocal  # Para gestionar automáticamente la zona horaria local

# Backend
fastapi
uvicorn[standard]
pydantic